[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
sewar = "*"
scikit-image = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
